body{
  margin: 0px;
  background: black;
}

#preview-background{
  position: absolute;
  width: 100%;
  filter: blur(10px);
}

#preview{
  position: absolute;
  height: 60%;
  left: 30%;
  top: 20%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.34);
}

.cover-div{
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.sejishikong{
  font-size: 50px;
  position: absolute;
  color: white;
  top: 13%;
  width: 1px;
  left: 10%;
  line-height: 150px;
}

.text{
  transition-duration: 18s;
  position: absolute;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 7%;
  left: -800px;
  font-size: 22px;
}

@for $i from 1 through 6{
  .text-#{$i}{
    top: #{$i * 50}px
  }
}


